/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~flag-icon-css/css/flag-icon";
/* for sidenav to take whole page */
html, body { 
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mat-tab-group {
    margin-bottom: 10px;
}

.mat-tab-label {
    color: #ffcf00;
}

.mat-tab-label.mat-tab-label-active {
    color:#fff;
    font-weight: bold;
}
.mat-ink-bar{
    margin-bottom: 8px;
}